# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vs
recipes.pdn
recipes.png
overview.pdn
tools.pdn
Untitled.png